 * {
      margin: 0 auto;
      padding:0;
    }
body {
	font-family: poppins;
	width: 100%;
	border: 0;
	margin: auto;
}
.mainBody {
	border: 1px black solid;
	display: flex;
	width: 100vw;
	flex-direction: column;
}


.mainNav {
	margin: 0;
	width: 100vw;
	height: 50px;
	display: flex;
	flex-direction: row;
    }
    
.leftSide {
	width: 33.3%;
	list-style: none;
	justify-content: flex-start;
	display: flex;
	text-decoration: none;
	z-index: 1;
}

.navItem {
	flex-direction: row;
	font-size: 15px;
	justify-content: flex-start;
	padding: 20px;

}

.center {
	width: 100vw;
	list-style: none;
	display: flex;
	z-index: 2;
}

.logo {
	width: 50px;
	height: 50px;
	justify-content: center;
	align-items: center;
}

.topHalf {
	border: 1px black solid;
	width: 100%;
	height: 50vh;
	display: flex;
	flex-direction: column;

}

.intro {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items:center;
}

.name {
	margin: 0;
	width: 50%;
	margin-top: 175px;
	padding-left: 75px;
	font-weight: 400px;
	font-size: 30px;
	justify-content: flex-start;
}

.actionText {
	margin: 0;
	width: 50%;
	margin-top: 300px;
	padding-left: 100px;
	font-weight: lighter;
	font-size: 18px;
	justify-content: flex-start;

}

.bottomHalf {
	width: 100%;
	height: 50vh;
}
